@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(238, 231, 231);
  overflow-y: hidden;
}

header {
  height: 15vh;
  display: flex;
  background: rgb(238, 231, 231);
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  color: rgb(90, 57, 8);;
}

header h1 {
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

header i {
  font-size: 40px;
  margin-left: 10px;
}

.slider {
  margin-top: -200px;
  max-width: 1000px;
  max-height: 600px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 600px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 1000px;
  height: 600px;
}

/* MANUAL NAVIGATION */

.navigation-manual {
  position: absolute;
  width: 1000px;
  margin-top: -60px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 4px solid rgb(252, 151, 0);
  padding: 5px;
  margin: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: .2s;
}

.manual-btn:hover {
  background-color: rgb(252, 151, 0);
}

#radio1:checked ~ .slide1 {
  margin-left: 0;  
}

#radio2:checked ~ .slide1 {
  margin-left: -20%;  
}

#radio3:checked ~ .slide1 {
  margin-left: -40%;  
}

#radio4:checked ~ .slide1 {
  margin-left: -60%;  
}

/* AUTO NAVIGATION */

.navigation-auto {
  position: absolute;
  width: 1000px;
  margin-top: 540px;
  display: flex;
  justify-content: center;
}

.navigation-auto .auto {
  border: 4px solid rgb(252, 151, 0);
  padding: 5px;
  margin: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: .2s;
}

.navigation-auto .auto:hover {
  background-color: rgb(252, 151, 0);
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: rgb(252, 151, 0);  
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: rgb(252, 151, 0);  
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: rgb(252, 151, 0);  
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: rgb(252, 151, 0);  
}